<div class="divide"></div>
<div class="row-wrapper-blue">
  <div class="row">
	  <div class="small-12 columns">
      <div class="header-text">
		    <span class="sosa-tv header-icon"></span>
			  <div>
			    <span class="header-product">television</span>
			    <span class="header-search-name">default</span>
			  </div>
	    </div>
			<div class="header-buttons">
				<a class="pure-button pure-button-search">Save</a>
				<a class="pure-button pure-button-search">Edit</a>
			</div>
	  </div>
	</div>
</div>
<div class="divide"></div>

<div class="row-wrapper-white">
<div ng-controller="AttributeCtrl">
	<div television-attribute-filter></div>
</div>
	<div ng-controller="SearchProductsCtrl">
	  <div class="results-container">
	  	  <div style="padding-top:40px;text-align:center;font-family:'Open Sans'; font-size:22px; color: #4e81c2;" ng-show="products.length==0">
		  	No Products Found
		  </div>
	    <li ng-repeat="product in products | limitTo:productsDisplayed">
			  <div class="row result-individual" ng-click="displayProduct(product)">
				  <div class="large-3 columns">
				  	<div>
				  		<a href="http://test.skimlinks.com">SKIMLINKS</a>
				  	</div>

					  <div>
					    <img src="{{product.image_url}}" class="product-thumbnail"></img>
					    <span class="result-field">{{product.make}} {{product.properties.screen_size}}"
					    </span>
				    </div>
				  </div>
				<div class="large-3 columns">
					<div>
					  <span class="sosa-tags result-icon"></span>
					  <span class="result-field">£{{product.new_price}}</span>
				  </div>
				</div>
				<div class="large-3 columns">
					<div>
					  <span class="sosa-tag result-icon"></span>
					  <span class="result-field">
					  	<span style="color:#25a9df">{{product.percent_off}}%</span> off
					  </span>
				  </div>
				</div>
				<div class="large-3 columns">
				  <div>
					  <span class="sosa-tag result-icon"></span>
					  <span class="result-field">You save 
					  	<span style="color:#25a9df">£{{product.price_off}}</span>
					  </span>
				  </div>
				  </div>
		    </div>
		  </li>
		  <button class="pure-button" style="width:100%;" ng-click="showMore()" ng-show="productService.products.length>0">
		  	show more
		  </div>
	  </div>
	<div class="divide"></div>
	</div>
</div>
<div class="footer">
	<div class="logo">
		my offer feed
	</div>
</div>











