<div ng-show="currentSearch.modal == 'price'">
<div class="row">
<div class="modal-header" style="text-align:center;">
<h1 style="color: #5284BF;">Price (£)</h1>
</div>
<div class="large-6 columns" style="padding-top: 10px;" ng-show="currentSearch.product_type=='television'">
	<h4 style="color: #5284BF;  font-family: 'Open Sans';"> Min </h4>
  	<select ng-model="currentSearch.price_min" style="font-family: 'Open Sans'; font-size: 16px; color: #5284BF;">
  		<option>0</option>
  		<option>100</option>
  		<option>200</option>
  		<option>250</option>
  		<option>300</option>
  		<option>350</option>
  		<option>450</option>
  		<option>500</option>
      <option>600</option>
      <option>700</option>
      <option>800</option>
      <option>900</option>
      <option>1000</option>
      <option>1250</option>
      <option>1500</option>
      <option>2000</option>
      <option>3000</option>
      <option>5000</option>
    </select>
</div>
<div class="large-6 columns" style="padding-top: 10px;" ng-show="currentSearch.product_type=='laptop'">
  <h4 style="color: #5284BF;  font-family: 'Open Sans';"> Min </h4>
    <select ng-model="currentSearch.price_min" style="font-family: 'Open Sans'; font-size: 16px; color: #5284BF;">
      <option>0</option>
      <option>100</option>
      <option>200</option>
      <option>300</option>
      <option>400</option>
      <option>500</option>
      <option>600</option>
      <option>700</option>
      <option>800</option>
    </select>
</div>
<div class="large-6 columns" style="padding-top: 10px;" ng-show="currentSearch.product_type=='television'">
  <h4 style="color: #5284BF; font-family: 'Open Sans';"> Max </h4>
    <select ng-model="currentSearch.price_max" style="font-family: 'Open Sans'; font-size: 16px; color: #5284BF;">
  		<option>no max</option>
      <option>100</option>
      <option>200</option>
      <option>300</option>
      <option>350</option>
      <option>400</option>
  		<option>450</option>
  		<option>500</option>
  		<option>600</option>
      <option>700</option>
      <option>800</option>
      <option>900</option>
      <option>1000</option>
      <option>1100</option>
      <option>1200</option>
      <option>1300</option>
      <option>1400</option>
      <option>1500</option>
      <option>1750</option>
      <option>2000</option>
      <option>2500</option>
      <option>3000</option>
      <option>5000</option>
    </select>
</div>
<div class="large-6 columns" style="padding-top: 10px;" ng-show="currentSearch.product_type=='laptop'">
  <h4 style="color: #5284BF; font-family: 'Open Sans';"> Max </h4>
    <select ng-model="currentSearch.price_max" style="font-family: 'Open Sans'; font-size: 16px; color: #5284BF;">
      <option>no max</option>
      <option>100</option>
      <option>200</option>
      <option>300</option>
      <option>400</option>
      <option>500</option>
      <option>600</option>
      <option>700</option>
      <option>800</option>
      <option>900</option>
      <option>1000</option>
    </select>
</div>
 </div>
</div>
<div ng-show="currentSearch.modal == 'screen'">
 <div class="row">
<div class="modal-header" style="text-align:center;">
<h1 style="color: #5284BF;">Screen Size (inch)</h1>
</div>
<div class="large-6 columns" style="padding-top: 10px;" ng-show="currentSearch.product_type=='television'">
  <h4 style="color: #5284BF;  font-family: 'Open Sans';"> Min </h4>
    <select ng-model="currentSearch.screen_min" style="font-family: 'Open Sans'; font-size: 16px; color: #5284BF;">
      <option>0</option>
      <option>18</option>
      <option>21</option>
      <option>24</option>
      <option>27</option>
      <option>32</option>
      <option>35</option>
      <option>37</option>
      <option>40</option>
      <option>44</option>
      <option>50</option>
      <option>60</option>
      <option>70</option>
    </select>
</div>
<div class="large-6 columns" style="padding-top: 10px;" ng-show="currentSearch.product_type=='laptop'">
  <h4 style="color: #5284BF;  font-family: 'Open Sans';"> Min </h4>
    <select ng-model="currentSearch.screen_min" style="font-family: 'Open Sans'; font-size: 16px; color: #5284BF;">
      <option>0</option>
      <option>11</option>
      <option>13</option>
      <option>15</option>
      <option>17</option>
      <option>21</option>
    </select>
</div>
<div class="large-6 columns" style="padding-top: 10px;" ng-show="currentSearch.product_type=='television'">
  <h4 style="color: #5284BF; font-family: 'Open Sans';"> Max </h4>
    <select ng-model="currentSearch.screen_max" style="font-family: 'Open Sans'; font-size: 16px; color: #5284BF;">
      <option>no max</option>
      <option>18</option>
      <option>21</option>
      <option>24</option>
      <option>27</option>
      <option>32</option>
      <option>35</option>
      <option>37</option>
      <option>40</option>
      <option>44</option>
      <option>50</option>
      <option>60</option>
      <option>70</option>
      <option>80</option>
      <option>90</option>
    </select>
</div>
<div class="large-6 columns" style="padding-top: 10px;" ng-show="currentSearch.product_type=='laptop'">
  <h4 style="color: #5284BF; font-family: 'Open Sans';"> Max </h4>
    <select ng-model="currentSearch.screen_max" style="font-family: 'Open Sans'; font-size: 16px; color: #5284BF;">
      <option>no max</option>
      <option>13</option>
      <option>15</option>
      <option>17</option>
      <option>21</option>
    </select>
</div>
 </div>
</div>
<div ng-show="currentSearch.modal == 'make'">
<div class="row">
 <div class="large-10 large-centered columns" ng-show="currentSearch.product_type=='television'">
<div class="modal-header" style="text-align:center;">
<h1 style="color: #5284BF;">Brand</h1>
</div>
  <select ng-model="currentSearch.makes[0]" style="font-family: 'Open Sans'; font-size: 16px; color: #5284BF;">
    <option>all</option>
    <option>Bush</option>
    <option>Digihome</option>
    <option>Sharp</option>
    <option>Polaroid</option>
    <option>Philips</option>
    <option>Sandstrom</option>
    <option>Mitsubishi</option>
    <option>Techika</option>
    <option>Hitachi</option>
    <option>LG</option>
    <option>Logik</option>
    <option>Panasonic</option>
    <option>Samsung</option>
    <option>Sony</option>
    <option>Toshiba</option>
  </select>
  
</div>
<div class="large-10 large-centered columns" ng-show="currentSearch.product_type=='laptop'">
<div class="modal-header" style="text-align:center;">
<h1 style="color: #5284BF;">Brand</h1>
</div>
  <select ng-model="currentSearch.makes[0]" style="font-family: 'Open Sans'; font-size: 16px; color: #5284BF;">
    <option>all</option>
    <option>Acer</option>
    <option>Asus</option>
    <option>Compaq</option>
    <option>Dell</option>
    <option>Hp</option>
    <option>Lenovo</option>
    <option>Packard Bell</option>
    <option>Samsung</option>
    <option>Sony</option>
    <option>Toshiba</option>
  </select>
</div>
</div>
</div>
<div ng-show="currentSearch.modal == 'retailer'">
<div class="row">
  <div class="large-10 large-centered columns" ng-show="currentSearch.product_type=='television'">
<div class="modal-header" style="text-align:center;">
<h1 style="color: #5284BF;">Retailer</h1>
</div>
 
  <select ng-model="currentSearch.retailers[0]" style="font-family: 'Open Sans'; font-size: 16px; color: #5284BF;">
    <option>all</option>
    <option>Asda</option>
    <option>Argos</option>
    <option>COOP</option>
    <option>Currys</option>
    <option>John Lewis</option>
    <option>Tesco</option>
  </select>
</div>
</div>
<div class="large-10 large-centered columns" ng-show="currentSearch.product_type=='laptop'">
<div class="modal-header" style="text-align:center;">
<h1 style="color: #5284BF;">Retailer</h1>
</div>
 
  <select ng-model="currentSearch.retailers[0]" style="font-family: 'Open Sans'; font-size: 16px; color: #5284BF;">
    <option>all</option>
    <option>Argos</option>
    <option>Currys</option>
    <option>Tesco</option>
  </select>
</div>
</div>
 <div class="row">
  <div class="large-12 columns" style="padding: 20px;">
<button class="pure-button pure-button-filter" style="background: #5284BF; margin-top:10px;" ng-click="close()" style="width: 100%;"> Confirm </button>
</div>
</div>


