<!-- <div header></div> -->
  <nav class="top-bar header-fixed" style="background: #5284BF; margin-bottom:0px;border-bottom: 5px solid #d5e1ef">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="#"></a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <!-- <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> -->
    </ul>
  <section class="top-bar-section">
  </section>
  </nav>
<div class="background" style="border-bottom:5px solid #5284BF;">
	<div title></div>
	<div icons></div>
<div class="row">
	<div class="large-12 columns">
		<div class="title-content" style="margin-top:20px;">
			<div class="title-tagline" style="color: #afafaf !important;">
			More Products Coming Soon
		    </div>
		</div>
	</div>
</div>
</div>

<div class="footer">

</div>
<!-- <div class="row">
	<div class="large-12 columns">
		<div class="title-content" >
			<div class="title-tagline" style="padding-top:25px;color: #afafaf !important;">
			A web app by <a href="http://www.breakpointlabs.co.uk" style="color: #1e81c2 !important;">Breakpoint Labs</a>
		    </div>
		</div>
	</div>
</div> -->
