<div class="modal-header">
  <h2 style="color: #5284BF">Choose a Product</h2>
</div>
<div class="modal-body">
	<div class="row product-select">
		<div class="large-12 columns" style="height:100px; text-align:center;">
			 <div class="sosa-tv large" style="color:#afafaf;" ng-click="currentSearch.product_type='television';close();">  </div>
	
		</div>
	</div>
	<div class="row product-select">
		<div class="large-12 columns" style="height:100px; text-align:center;">
		<div class="sosa-macbook large" style="color:#afafaf;" ng-click="currentSearch.product_type='laptop';close();"></div>
	</div>
	</div> 
 </div>

