<div class="row">
	<div class="large-3 columns">
	  <div search-filter type="price" search="currentSearch" filter="filter(type)">
	  </div>
	</div>
	<div class="large-3 columns">
	  <div search-filter type="screen" search="currentSearch" filter="filter(type)">
	  </div>
	</div>
    <div class="large-3 columns">
			<div search-filter type="make" search="currentSearch" filter="filter(type)">
			</div>
	</div>
    <div class="large-3 columns">
	    <div search-filter type="retailer" search="currentSearch" filter="filter(type)"></div>
		</div>
</div>