<div class="row">
	<div class="large-3 columns">
	  <div attribute-filter type="price" attribute="attributes.price" filter="filter(type)">
	  </div>
	</div>
	<div class="large-3 columns">
	  <div attribute-filter type="screen" attribute="attributes.screen"   filter="filter(type)">
	  </div>
	</div>
  <div class="large-3 columns">
		<div attribute-filter type="make" attribute="attributes.make" filter="filter(type)">
		</div>
	</div>
  <div class="large-3 columns">
    <div attribute-filter type="retailer" attribute="attributes.retailer" filter="filter(type)"></div>
	</div>
</div>