 <div class="row" style="border-top: 1px solid #d5e1ef;">
			      <div class="large-3 columns">
			        <span class="result_image">
				        <img style="padding-top:10px;image-size:100%;width:200px;" src="{{product.image_url}}"></img>
				      </span>
			      </div>
		        <div class="large-3 columns second_column">
		          <div class="result_details" style="">
				        <span class="product_title" style="color:#5284BF;font-size:25px;">{{product.make}} {{product.properties.screen_size}}" {{product.properties.tv_type}} </span>
	              <div class="price">
	             	 <span class="sosa-tags icon"></span><span class="price_text" style="color:#5284BF;font-size:25px;">£{{product.new_price}}</span> <del class="old_price"> was £{{product.old_price}}</del>
	              </div>
			        </div>
		        </div>
		    		<div class="large-3 columns third_column">
	      			<div class="result_details list" style="padding-left:5px;">
				 			<span style="display:block; padding-bottom:5px;"><span class="sosa-tag icon"></span> save <span style="color:#5284BF">£{{product.price_off}} </span></span>
				 			<span style="display:block;padding-bottom:5px;"><span class="sosa-tag icon"></span> <span style="color:#5284BF">{{product.percent_off}}% </span>off </span>
				 			<span style="display:block;padding-bottom:5px;"><span class="sosa-tag icon"></span> <span style="color:#5284BF">{{product.retailer}} </span> </span>
		     			</div>
						</div>
						<div class="large-3 columns">
							<div class="result_details">
							<span style=""> <a class="pure-button" style="background: #5284BF; color:#fff;font-weight:400;" href="{{product.link_url}}">view</a></span>
							<!-- <span style="display:block;"> <a class="pure-button" style="background: #5284BF; color:#fff;font-weight:400;" href="#">save </a></span> -->
			
						</div>
					</div>
		
			    </div>