$form-font-size: 26px;
$primary-text-color: #f0f0f0;
$grey-color: #afafaf;
$input-background-color: #343434;
$input-selected-background-color: #444444;

/** CSS Mixins **/

@mixin border-radius($radius){
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

@mixin placeholder{
  color: #afafaf;
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    @include placeholder;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 @include placeholder;}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 @include placeholder;}
:-ms-input-placeholder { /* Internet Explorer 10+ */
 @include placeholder;}



/** CSS **/

/** Landing Beta Page Style **/

.launch-title-row{
  padding-top: 10% !important;
  padding-bottom:20px !important;
}

.center{
  text-align: center;
}

.launch-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  color: #fff;
}
.coming-soon-text{
  font-size: 28px;
  color: #4e81c2;  
  font-family: 'Open Sans', sans-serif;
}
.signup-input{
 font-family: 'Open Sans', sans-serif; 
 color: #afafaf;  
}

.signup-form{
  padding-top:20px;
}
.signup-email{
  font-size:17px !important;
}

.signup-message{
  font-family:'Open Sans', sans-serif;
  font-size: 20px; 
  color: #fff;
}

.signup-button{
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}


/** Main Style **/

.result-individual{
  padding:14px;
  border-radius: 15px;

    &:hover{
      cursor:pointer;
      background: rgba(78,129,194,0.2);
    }
}

body{
 
  background:url('background.JPG');
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.wrapper{
  background-color: #1e81c2;
}

a{
  text-decoration: none !important;
  color: #fff !important;
}

.divide{
  height: 4px; 
  background: #25a9df;
}

.row-wrapper-blue{
  background:#4e81c2;
}

.header{

  .header-logo{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display: inline-block;
    color: #fff;
  }

  .buttons{
    text-align: right;
    padding: 10px;
    
    .sign-up{
      margin-right: 10px;
      color: #343434 !important;
    }

  }
}

.title-content{
  color:#1e81c2;
  font-family: 'Open Sans', sans-serif !important;
  text-align: center;

  .title{
   font-size: 60px;
  }

  margin-top: 80px;
  
  .title-tagline{
    padding-top: 15px;
    font-size: 24px;
  }

}
  .background{
  height:560px;
  }
/**.footer{
  height:50px; 
  border-top:4px solid #25a9df;

  .logo{
    font-family:'Open Sans'; 
    font-size:20px; 
    color:#fff; 
    margin-left:15px; 
    margin-top:15px;
    margin-bottom:15px;
  }
}**/

.index-content{
  background-color: #1e81c2;
}

.products-container{
  padding-top:60px; 
}

.product{
  padding: 20px 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #1e81c2;
  cursor: pointer;

  
  @include border-radius(5px);
    
    .coming-soon{
      display:none;
    }

    .tagline{
      display: none;
    }

    a{
      text-decoration: none;
      color: #fff;
    }

  &:hover{
      background-color: #d5e1ef
      ;
      color: #343434;


      /**  .coming-soon{
        display: block;
        color: #afafaf;
      }

      .tagline{
        display: block;
        color: #afafaf;
      }**/
   }
}

.filter-container{
  display:inline-block;
  padding-top:20px;
}

.product-results-banner{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top:20px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #1e81c2;
    border-radius:15px;
    
    .banner-section{
      width:100%;
      
      .title{
        font-size: 28px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
      }
    
      .criteria{
        font-size: 28px;
        color: #343434;
        font-family: 'Open Sans', sans-serif;
        float:right;
        display: inline-block;
      }
    }
}

li{
  list-style:none;
}

.header-buttons{
  font-size:15px;
  float:right; 
  display:inline-block; 
  padding-top:40px;
}

.header-text{
  height: 120px; 
  background:#4e81c2; 
  color: #fff; 
  font-size:28px; 
  font-family: 'Open Sans';
  padding-top:10px; 
  display:inline-block;
}

.header-icon{
  font-size:120%;
  padding-bottom:10px; 
}

.header-product{
  padding-bottom:10px;
}

.header-search-name{
  color: #343434;
  font-size: 28px;
  display: block;
  padding-top: 2px;
}

.row-wrapper-white{
  background: #fff;
}

.large{
  font-size: 80px;
}

.results-container{
  height: 520px; 
  padding-top:12px; 
  overflow:scroll;
}

.product-thumbnail{
  width:48px; 
  height:56px;
}

.result-field{
   font-family:'Open Sans'; 
   font-size: 20px;
}

.result-icon{
  font-size:200%;
  color:#afafaf;
}

.filter-label{
  color: #afafaf; 
  font-size:22px; 
  font-family: 'Open Sans';
  text-align:center;
  padding-top:10px;
}

.container{
  width:71%;
  float:right;
  height: 600px;
  margin-right:10px;
  .products{
    background: #fff;
    height:520px;
     overflow:scroll;
     -webkit-overflow-scrolling: touch;
     border-left:2px solid #d5e1ef;
     border-right:2px solid #d5e1ef;
     border-bottom:2px solid #d5e1ef;
     border-radius:5px;
  }
  .second_column{
    padding-top:60px; 
    font-family:'Open Sans';
  }
   .third_column{
    padding-top:40px; 
    padding-left:28px;
    font-family:'Open Sans';
  }
}

.left_container{
  height: 600px;
  display:inline-block;
  width:27%;
}
.mobile-height{
    height:165px;
  }

@media only screen and (max-width: 999px) and (min-width: 768px){
  .mobile-height{
    height:145px;
  }
  .title-content{
  .title{
   font-size: 60px;
  }
  }
  .container{
    width: 100%;
   height:auto;
   padding-top:0px;
  
    margin:40px 0 0 0;
    bottom:0px;
     .products{
    -webkit-overflow-scrolling: touch;
    background: #fff;
    overflow:scroll;
    text-align:center;
    margin-top:20px;
    height:auto;
  }

   }

   .left_container{
   display:none;
   }
   
  .filter-container{
    padding-top:20px;
    /**display:block !important;**/
    display:none;
  }
    .product-type-container{
   display:none;
  }
    
  .header-buttons{
    padding-top: 25px;
    padding-bottom:5px;
  }
 
  

  .result-individual{
    text-align:center;
  }
  .bubble_res{
  font-size: 15px !important;
  }
  .background{
  height:560px;
  }
}

@media only screen and (max-width: 767px){
  .left_container{
  display:none;
  }
    .title-content{
  .title{
   font-size: 26px;
  }
  .title-tagline{
  font-size:18px;
  padding-top: 25px !important;
padding-bottom: 25px !important;
  }
  }
  .background{
  height:540px;
  }
  .mobile-height{
    height:120px;
  }
  .container{
    width:100%;
    margin: auto 0;
    padding-top:0px;
    margin:40px 0 0 0;
    height:auto;
  .second_column{
  padding-top:10px;
  }
  .third_column{
  padding-top:14px;
  }
  .products{
    overflow: scroll;
   text-align:center;
      -webkit-overflow-scrolling: touch;
      margin-top:20px;
      height:auto;
  }
  }
  .result-individual{
    text-align:center;
  }

   .filter-container{
    padding-top:20px;
    /**display:block !important;**/
    display:none;
  }
    .product-type-container{
   display:none;
  }
  
  .header-buttons{
    padding-top: 25px;
    padding-bottom:5px;
  }
}