/** CSS Variables **/

$form-font-size: 26px;
$primary-text-color: #f0f0f0;
$grey-color: #afafaf;
$input-background-color: #343434;
$input-selected-background-color: #444444;

/** CSS Mixins **/

@mixin placeholder-input {
  color: $primary-text-color;
}

/** CSS **/

/** Main Style **/

span.postfix {
  background-color: $input-background-color !important;
  font-size: $form-font-size;
}

[class^="icon-"], [class*=" icon-"]{
  color: $primary-text-color !important;
}

/** Input Style **/

input.auto-complete {
	font-size: $form-font-size !important; 
	background-color: $input-background-color !important; 
	color: $primary-text-color !important;
	font-family:'Lato', sans-serif !important;
	text-align: center !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    @include placeholder-input;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    @include placeholder-input;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    @include placeholder-input;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    @include placeholder-input;
}

/** Autocomplete Style **/

.ui-menu {
    list-style: none;
    padding: 2px;
    float: left;
    font-size: $form-font-size;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
	padding: 8px;
	clear: both;
	font-weight: normal;
	color: $primary-text-color;
	white-space: nowrap;
	border-bottom:1px solid $grey-color;
	background-color: $input-background-color;

    &.ui-state-hover, &.ui-state-focus {
      color: $primary-text-color;
      text-decoration: none;
      background-color: $input-selected-background-color;
    }
}

.ui-helper-hidden-accessible {
  display:none;	
}
