body{
	background:#f6f6f6;
}

.topbar{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 50px;
    background:#5284BF;
    box-shadow: 1px 1px 1px #afafaf;
    .title{
        font-size:28px;
        font-weight:400;
        font-family: 'Open Sans';
        color: #fff;
        padding: 10px;
        padding-left: 20px;
    }
}

.product-type-container{
    position: absolute;
    top:65px;
    left: 20px;

}
.bubble {
    font-family: 'Open Sans';
    color: #343434;
    font-weight:300;
    font-size: 18px;
    background-color: #fff;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 5px;
    position: relative;
    padding-top:10px;
    padding-bottom:24px;
    width:300px;


    .section_title{
      padding-bottom:10px;
      color: #5284BF;
      font-weight:400;
      font-size:22px;
    }
    .product_section{
        padding:5px;
        padding-left:0px;
        font-size:18px;
        color: #343434;
        font-weight:400;
        background: #F6F6F6;
        border-radius: 5px;
        text-align:center;
        .product{
          color:#343434;
          font-size:18px;
          &:hover{
          	background:none;
          }
        }
    }
}

.bubble:after {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid #fff;
    top: 10px;
    content: '';
    position:absolute;
    right: -12px;
}

.filter-container{
    position:absolute;
    top: 215px;
    left:20px;
    width:400px;
    padding-top:10px;
}

.filter_title{
 
 padding-right: 10px;
 color:#5284BF;
 font-weight:400;
    
}
.filter_section{
    padding: 12px;
    cursor:pointer;
    color:#5284BF;
}
.filter_content{

    background: #f6f6f6;
    border-radius: 5px;
    padding:5px;
    padding-left: 10px;
    padding-right:10px;
    postion: relative;
    
    font-weight:400;
}
.filter_content_make{

    background: #f6f6f6;
    border-radius: 5px;
    padding:5px;
    padding-left: 10px;
    padding-right:10px;
    postion: relative;
    font-weight:400;
}

.filter_content_retailer{

    background: #f6f6f6;
    border-radius: 5px;
    padding:5px;
    padding-left: 10px;
    padding-right:10px;
    postion: relative;
    font-weight:400;
}
.filter_content_screen{

    background: #f6f6f6;
    border-radius: 5px;
    padding:5px;
    padding-left: 10px;
    padding-right:10px;
    postion: relative;
    font-weight:400;
}

.filter_content:before {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid #f6f6f6;
    top: 90px;
    content: '';
    position:absolute;
    left: 85px;
}
.filter_content_make:before {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid #f6f6f6;
    top: 138px;
    content: '';
    position:absolute;
    left: 88px;

}

.filter_content_retailer:before {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid #f6f6f6;
    top: 182px;
    content: '';
    position:absolute;
    left: 102px;
}
.filter_content_screen:before {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid #f6f6f6;
    top: 228px;
    content: '';
    position:absolute;
    left: 98px;
}
.main_section{
    position: fixed;
    top: 20px;
    left: 350px;
}
.main_section_bubble{
    position:relative;
    top: 46px;
    left: 5px;
    background: #fff;
    width:100%;
    height:604px;
    border-radius:5px;
    padding: 10px;


}
.main_section_bubble:before{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
    top: 62px;
    content: '';
    position:absolute;
    left: -10px;

}


.dropdown-menu>li>a:hover{
    color: black !important;
}

.main_section_title{
      padding:10px;
      color: #5284BF;
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 18px;
      background: #f6f6f6;
      border-radius:5px;
      width:24%;
      display:inline-block; 
}
right{
	float:right;
}

.main_label{
display:inline-block;float:right;font-family: 'Open Sans';font-size: 18px; font-weight:400;padding-top:10px; padding-right:10px;
    color: #5284BF;
}
/**.main_section_title:after{
    border-top: 10px solid #f6f6f6;
    border-bottom: 5px solid transparent;
   border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    top: 48px;
    content: '';
    position:absolute;
    left: 16%;
}**/

.main_section_results{
  width:860px;
    position: relative;
    padding:10px;
    top:22px;
    height: 466px;
    overflow: scroll;
    .result{
    border-top: 1px dashed #d5e1ef;
    height: 180px;
       vertical-align: middle;
    .result_image{
    padding-left:10px;
    padding-right:10px;
    }
    .result_details{
    font-size: 18px;
    font-weight:400;
    vertical-align: middle;
    font-family: 'Open Sans';
    vertical-align:top; display:inline-block;height:100%;padding-top:50px;padding-left:20px;
    .product_title{
    color:#5284BF; font-size: 25px;
    }
    .price{
    padding-top:10px;
    .price_text{
    color:#5284BF; font-size: 28px;
    }
    .old_price{
     font-weight:300;
     color:#afafaf;
    }
    }
    }
    .list{
    vertical-align:top; display:inline-block;height:100%;padding-top:40px;padding-left: 40px;
    }
    }
}
img{
	height:100%;
}
.icon{
	color:#afafaf;font-size:28px;padding-right:5px;
}

.pure-button{
	width: 100%;
}
.arrow{
	background:#f6f6f6; border-radius:5px; 
	padding:5px;margin-left:5px;padding-right:5px;
	color:#5284BF;
}

