.footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:5px;
  background: #5284BF;
}

.bubble_res {
    font-family: 'Open Sans';
    color: #343434;
    font-weight:300;
    font-size: 18px;
    background-color: #fff;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 5px;
    padding-top:10px;
    padding-bottom:24px;
    width:25%;

    .section_title{
      padding-bottom:12px;
      color: #5284BF;
      font-weight:400;
      font-size:22px;
      padding-top: 12px;
      border-top: 1px solid #d5e1ef;
      border-bottom: 1px solid #d5e1ef;
      margin-bottom:12px;
      margin-top:5px;
    }
    .product_section{
        padding:5px;
        padding-left:0px;
        font-size:18px;
        color: #343434;
        font-weight:400;
        background: #F6F6F6;
        border-radius: 5px;
        text-align:center;
        .product{
          color:#343434;
          font-size:18px;
          &:hover{
          	background:none;
          }
        }
    }
}
.filter_section_res{
    padding: 20px;
    cursor:pointer;
    color:#5284BF;
    border-top: 1px solid #d5e1ef;
}
.filter_content_res{

    background: #f6f6f6;
    border-radius: 5px;
    padding:5px;
    padding-left: 10px;
    padding-right:10px;
    postion: relative;
    font-weight:400;
    border: 1px solid #d5e1ef;
}
.filter_content_make_res{

    background: #f6f6f6;
    border-radius: 5px;
    padding:5px;
    padding-left: 10px;
    padding-right:10px;
    postion: relative;
    font-weight:400;
    width:100%;
    text-align:center;
    border: 1px solid #d5e1ef;
}

.filter_content_retailer_res{

    background: #f6f6f6;
    border-radius: 5px;
    padding:5px;
    padding-left: 10px;
    padding-right:10px;
    postion: relative;
    font-weight:400 !important;
    border: 1px solid #d5e1ef;
}
.filter_content_screen_res{

    background: #f6f6f6;
    border-radius: 5px;
    padding:5px;
    padding-left: 10px;
    padding-right:10px;
    postion: relative;
    font-weight:400;
    border: 1px solid #d5e1ef;
}
.filter_title_res{
 
 padding-right: 10px;
 color:#5284BF;
 font-weight:400;
    
}

.mobile{
  display:none;
}
.dropdown{
  height:40px; 
  color: white;
}
.filter_dropdown{
 
}
@media only screen and (max-width: 999px) and (min-width: 768px){
.mobile{
  display:block;
}
.dropdown{
  height:40px; 
  color: white;
  font-size: 20px;
  border: 1px solid #d5e1ef;
  padding:10px;
}
.filter_dropdown{
  
}
.mobile-hide{
  display:none;
}
.fixed{
  position:fixed;
  top:45px;
}
}
@media only screen and (max-width: 767px){
.mobile{
  display:block;
}
.fixed{
  position:fixed;
  top:45px;
}
.mobile-hide{
  display:none;
}
.header-fixed{
  position: fixed;
  top:0;
  width:100%;
}

.dropdown{
  height:40px; 
  color: white;
  font-size: 20px;
  border: 1px solid #d5e1ef;
  padding:10px;
  cursor:pointer;
}
.filter_dropdown{

}
.top-bar .name h1 a{
  width:80%;
}
}

