.footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:5px;
  background: #5284BF;
}
.background{
  top:5px;
  left: 0;
  right:0;
  background:url('background2.jpg') no-repeat center center;
  background-size: cover;
  position:absolute;
}
.top-bar .name h1 a{
 
font-weight: 400 !important;
font-family: Lato !important;
font-size: 22px !important;
}
.highlight{
  &:hover{
    color: #afafaf;
  }
}

.bubble_res {
    font-family: 'Open Sans';
    color: #343434;
    font-weight:300;
    font-size: 18px;
    background-color: #fff;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 5px;
    padding-top:10px;
    padding-bottom:24px;
    width:25%;
    border: 2px solid #d5e1ef;

    .section_title{
      padding-bottom:12px;
      color: #5284BF;
      font-weight:400;
      font-size:22px;
      padding-top: 12px;
      border-top: 1px solid #d5e1ef;
      border-bottom: 1px solid #d5e1ef;
      margin-bottom:12px;
      margin-top:5px;
    }
    .product_section{
        padding:5px;
        padding-left:0px;
        font-size:18px;
        color: #343434;
        font-weight:400;
        background: #F6F6F6;
        border-radius: 5px;
        text-align:center;
         border: 1px solid #d5e1ef;
        .product{
          color:#343434;
          font-size:18px;
          &:hover{
          	background:none;
          }
        }
    }
}
.filter_section_res{
    padding: 12px;
    cursor:pointer;
    color:#5284BF;
}
.filter_content_res{

    background: #f6f6f6;
    border-radius: 5px;
    padding:5px;
    padding-left: 10px;
    padding-right:10px;
    position: relative;
    font-weight:400;
    border: 1px solid #d5e1ef;
}
.filter_content_make_res{

    background: #f6f6f6;
    border-radius: 5px;
    padding:5px;
    padding-left: 10px;
    padding-right:10px;
    position: relative;
    font-weight:400;
    width:100%;
    text-align:center;
    border: 1px solid #d5e1ef;
}
.fade-in{

}

.filter_content_retailer_res{

    background: #f6f6f6;
    border-radius: 5px;
    padding:5px;
    padding-left: 10px;
    padding-right:10px;
    position: relative;
    font-weight:400 !important;
    border: 1px solid #d5e1ef;
}
.filter_content_screen_res{

    background: #f6f6f6;
    border-radius: 5px;
    padding:5px;
    padding-left: 10px;
    padding-right:10px;
    postion: relative;
    font-weight:400;
    border: 1px solid #d5e1ef;
}
.filter_title_res{
 
 color:#5284BF;
 font-weight:400;
    
}

.mobile{
  display:none;
}
.tablet{
display:none;
}
.dropdown{
  height:40px; 
  color: white;
}
.filter_dropdown{
 
}
.product-select{
  cursor: pointer;
  &:hover{
   background: #d5e1ef;
  
  }
}
@media only screen and (max-width: 999px) and (min-width: 768px){
.mobile{
  display:none;
}
.mobile-tablet{
display:block;
}
.tablet{
  display:block;
}
.filter_title_res{
 
 color:#fff;
 font-weight:400;
    
}
.filter_content_res{ 
background: #5284BF !important;
color: #fff !important;
margin-left:10px;
}

.dropdown{
  height:40px; 
  color: white;
  font-size: 20px;
  border: 1px solid #d5e1ef;
  padding:10px;
}
.filter_dropdown{
  border: 5px solid #d5e1ef;
}
.mobile-hide{
  display:none;
}
.fixed{
  position:fixed;
  /**top:45px;**/
}
.filter_section_res{
      border-top: 1px solid #d5e1ef;
      padding:20px;
}
.filter_content_res{ 
background: #5284BF !important;
color: #fff !important;
margin-left:10px;
}
.filter_content_make_res{ 
background: #5284BF !important;
color: #fff !important;
margin-left:10px;
}
.filter_content_retailer_res{
  background: #5284BF !important;
color: #fff !important;
margin-left:10px;
}
.filter_content_screen_res{
  background: #5284BF !important;
color: #fff !important;
margin-left:10px;
}
.filter_dropdown{
  border: 1px solid #d5e1ef;
  background: #5284BF !important;
}

}
@media only screen and (max-width: 767px){
.mobile{
  display:block;
}
.tablet{
  display:none;
}
.filter_section_res{
    border-top: 1px solid #d5e1ef;
    padding: 20px;
}
.filter_content_res{ 
background: #5284BF !important;
color: #fff !important;
margin-left:10px;
}
.filter_content_make_res{ 
background: #5284BF !important;
color: #fff !important;
margin-left:10px;
}
.filter_content_retailer_res{
  background: #5284BF !important;
color: #fff !important;
margin-left:10px;
}
.filter_content_screen_res{
  background: #5284BF !important;
color: #fff !important;
margin-left:10px;
}
tablet{
  display:none;
}
.fixed{
  position:fixed;
  /**top:45px;**/
}
.filter_title_res{
 
 color:#fff;
 font-weight:400;
    
}
.mobile-hide{
  display:none;
}
.header-fixed{
  position: fixed;
  top:0;
  width:100%;
}

.dropdown{
  height:40px; 
  color: white;
  font-size: 20px;
  border: 1px solid #d5e1ef;
  padding:10px;
  cursor:pointer;
}
.filter_dropdown{
  border: 1px solid #d5e1ef;
  background: #5284BF !important;
}
.top-bar .name h1 a{
width:80%;
}
}

